---
layout: default
description: "CRYING SUNS is a rogue-lite and tactical game where you explore a dying galaxy as a space fleet commander. As a deep story-driven game experience, each successful run will uncover a part of the underlying truth about the fall of the galactic Empire."
disclaimer: "FEATURES"
disclaimer-list: ["Space exploration in a procedural generated universe.", "Tactical fights between BattleShips and their squadrons fleets.", "A deep and dramatic storyline inspired by our favorite S-F universe (Foundation, Dune).", "A mix between pixelart style graphics, 3D and HD special effects.", "Prepare to die very often, it's a roguelite game... And it's a hard one..."]
developpers: ["Mathias Baglioni", "Julien Cotret", "Vincent Noël"]
designers: ["Mathias Baglioni"]
producer: ["Frédéric Lopez"]
---


<section>
<div id="home" class="home">
    <div  class="description small">
        {% include icon-twitter.html username=site.twitter_username %}
        <a class="bebas" href="https://altshift.github.io/presskit-website/cryingsuns">PressKit</a>
        {% include icon-facebook.html username=site.facebook_text id=site.facebook_username %}
    </div>
    <div class="logoContainer">
        <img class="titleLogo" src="{{site.baseurl}}/assets/logo_glow.png"/>
    </div>
    <div  class="description">
        <a class="calltoaction kickstarter" href="https://www.kickstarter.com/projects/106952529/1026774994?ref=522159&token=a2de62f9" >Support US on
            <img src="{{site.baseurl}}/assets/kickstarter-logo-light.png"/>
        </a>
        <a class="calltoaction" href="#newsletter-signup" onclick="setTimeout(function(){$('#mce-EMAIL').focus();}, 400);">Sign up and get the free DEMO!</a>
    </div>
    <div  class="description">
        <p>Add us to your wishlist on Steam</p>
        <a class="calltoaction steam" href="https://store.steampowered.com/app/873940/Crying_Suns"><img src="{{site.baseurl}}/assets/steam_logo.png"/></a>
    </div>
</div>
</section>
<section  class="summary">
    <div  class="description">
    <h1>{{site.title}}</h1>
    <p>{{page.description}}</p>
    </div>
</section>
<section>
<div  class="description">
    <ul class="contact-list">
        {% for i in (2..2) %}
            {% assign filename = "/assets/screens/animation" | append: i | prepend: site.baseurl %}
            <li><img src="{{filename}}.gif"></li>
        {% endfor %}
    </ul>
  <ul class="contact-list">
    {% for i in (1..5) %}
      {% assign filename = "/assets/screens/image" | append: i | prepend: site.baseurl %}
      <li><img src="{{filename}}.png"></li>
    {% endfor %}
  </ul>
  <ul class="contact-list">
    {% for i in (1..1) %}
      {% assign filename = "/assets/screens/animation" | append: i | prepend: site.baseurl %}
      <li><img src="{{filename}}.gif"></li>
    {% endfor %}
  </ul>
</div>
</section>
<section>
        <div  class="description alert-title">
            <p>
            <h1>{{page.disclaimer}}</h1>
            </p>
    </div>
    <div class="alert">
        <div class="text">
            <ul>
                {% for item in page.disclaimer-list %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section>
<div  class="description less-spaced">
    <div class="recall">

        <img src="{{site.baseurl}}/assets/logo.png"/>
        <p>Partners:</p>
        <div class="partners alert-title">
            <img src="{{site.baseurl}}/assets/logo_cnc.png"/>
            <img src="{{site.baseurl}}/assets/logo_region.png"/>
        </div>
        <a href="#home" >&#x21E1;&nbsp;GO TO TOP&nbsp;&#x21E1;</a>

    </div>
</div>
</section>
<section>
    <div id="newsletter-signup" class="description newsletter">

        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">

        <form action="//alternativeshift.us13.list-manage.com/subscribe/post?u=4f5e55994004ab6cc3f8c6d05&amp;id=2e89b7bb45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h2 style="text-align:center;padding-right: 10px;">Subscribe to the newsletter and receive the</h2>
            <h1 style="text-align:center; color:#4a9292;line-height: 0.5em;padding-right: 10px;padding-bottom: 10px;font-size: 3em;"><strong>FREE DEMO!</strong></h1>
            <p style="text-align:center;padding-right: 10px;">(you will receive the download link in the confirmation e-mail)</p>
            <div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group input-group">
            <strong>Terms and Conditions (<a style ="color:#0f3a49; text-decoration: underline;" href="{{site.baseurl}}/privacy-policy.html">Privacy Policy</a>)</strong>
            <ul><li><input type="checkbox" value="1" class="required" name="group[10965][1]" id="mce-group[10965]-10965-0"><label for="mce-group[10965]-10965-0">I accept to receive emails about Crying Suns and other Alt Shift games</label></li>
        </ul>
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4f5e55994004ab6cc3f8c6d05_2e89b7bb45" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
        <p style="text-align:center; margin-top: 10px; color:#56847e;">If the form does not display correctly,&nbsp;<a href="http://eepurl.com/dv_rpv" style="color:#fff; text-decoration:underline;">click here</a></p>
    </div>
</section>
