---
layout: default
description: "CRYING SUNS is a rogue-lite and tactical game where you explore a dying galaxy as a space fleet commander. As a deep story-driven game experience, each successful run will uncover a part of the underlying truth about the fall of the galactic Empire."
disclaimer: "FEATURES"
disclaimer-list: ["Space exploration in a procedural generated universe.", "Tactical fights between BattleShips and their squadrons fleets.", "A deep and dramatic storyline inspired by our favorite S-F universe (Foundation, Dune).", "A mix between pixelart style graphics, 3D and HD special effects.", "Prepare to die very often, it's a roguelite game... And it's a hard one..."]
developpers: ["Mathias Baglioni", "Julien Cotret", "Vincent Noël"]
designers: ["Mathias Baglioni"]
producer: ["Frédéric Lopez"]
---


<section>
<div id="home" class="home">
    <div  class="description small">
        {% include icon-twitter.html username=site.twitter_username %}
        <a href="https://altshift.github.io/presskit-website/cryingsuns">PressKit</a>
        {% include icon-facebook.html username=site.facebook_text id=site.facebook_username %}
    </div>
    <div class="logoContainer">
        <img class="titleLogo" src="{{site.baseurl}}/assets/logo_glow.png"/>
    </div>
    <div  class="description">
        <a class="calltoaction" href="#newsletter-signup" onclick="setTimeout(function(){$('#mce-EMAIL').focus();}, 400);">Sign up to our newsletter</a>
    </div>
    <div  class="description">
        <p>Soon available on</p>
        <img src="{{site.baseurl}}/assets/steam_logo.png"/>
    </div>
</div>
</section>
<section  class="summary">
    <div  class="description">
    <h1>{{site.title}}</h1>
    <p>{{page.description}}</p>
    </div>
</section>
<section>
<div  class="description">
  <ul class="contact-list">
    {% for i in (1..3) %}
      {% assign filename = "/assets/screens/image" | append: i | prepend: site.baseurl %}
      <li><img src="{{filename}}.png"></li>
    {% endfor %}
  </ul>
  <ul class="contact-list">
    {% for i in (1..2) %}
      {% assign filename = "/assets/screens/animation" | append: i | prepend: site.baseurl %}
      <li><img src="{{filename}}.gif"></li>
    {% endfor %}
  </ul>
</div>
</section>
<section>
        <div  class="description alert-title">
            <p>
            <h1>{{page.disclaimer}}</h1>
            </p>
    </div>
    <div class="alert">
        <div class="text">
            <ul>
                {% for item in page.disclaimer-list %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section>
<div  class="description less-spaced">
    <div class="recall">
        <img src="{{site.baseurl}}/assets/logo.png"/>
        <a href="#home" >&#x21E1;&nbsp;GOTO TO TOP&nbsp;&#x21E1;</a>

    </div>
</div>
</section>
<section>
    <div id="newsletter-signup" class="description newsletter">

        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">

        <form action="//alternativeshift.us13.list-manage.com/subscribe/post?u=4f5e55994004ab6cc3f8c6d05&amp;id=2e89b7bb45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h2>Subscribe Here To Receive News About Crying&nbsp;Suns:</h2>
            <div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group input-group">
            <strong>Terms and Conditions </strong>
            <ul><li><input type="checkbox" value="1" name="group[10965][1]" id="mce-group[10965]-10965-0"><label for="mce-group[10965]-10965-0">I accept to receive emails about Crying Suns and other Alt Shift games</label></li>
        </ul>
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4f5e55994004ab6cc3f8c6d05_2e89b7bb45" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
    </div>
</section>
